.row.container
  .small-10.small-centered.columns
    .panel.callout.radius--large.callout--large.container--full-padding
      %h1.alpha
        %strong Are you Ready?
      %h5.placeholder.meta-light It's time to create your daily workouts and challenges.