.full-width
  .row.container--large
    .small-11.small-centered.columns
      %h1.alpha 
        %strong
          Event Name
      %h4 Short description of the event. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
