/ Navigation
%nav.top-bar.main{"data-topbar" => ""}
  %ul.title-area
    / Title Area
    / %li.name
    / %h1
    /   %a{href: "#"}
    /     Level 
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span menu
  %section.top-bar-section
    / Right Nav Section
    %ul.left
      %li
        %a{href: "#"} 
          %i.fa.fa-home 
          Home
      %li
        %a{href: "#"} 
          %i.fa.fa-star 
          Challenges
      %li
        %a{href: "#"} 
          %i.fa.fa-bar-chart-o 
          Stats 
    %ul.centered
      %li
        %a{href: "#"}
          %i.fa.fa-trophy
          1,000 
    %ul.right
      %li.has-dropdown
        %a{href: "#"}
          = image_tag "User-default-post.png", :width => "30"
        %ul.dropdown
          %li
            %a{href: "#"} Profile
          %li
            %a{href: "#"} Profile Settings
          %li
            %a{href: "#"} Logout

      %li.padding-right
        %a.button.right.radius.small{"data-reveal-id" => "myModal", href: "#"} Post
        #myModal.reveal-modal.small{"data-reveal" => ""}
          %textarea{placeholder: "small-12.columns", style: "margin-top:20px;"}
          %a.button.right.radius.small Post
          %a.right{href: "#"}Location
          %a.right{href: "#"}Image
          %a.close-reveal-modal ×
/ End Top Bar