/Profile info Module Main
= render "static_pages/sidebar_profileinfo"
 
/Wishlist Module        
.panel.panel--no-padding.clearfix
  .module--header.clearfix.border-bottom--orange
    %h5.left Wishlist
    %a.right.module--link{href: "#"} View all
  /Single wishlist listing
  %a{href: "#"}
    .listing.listing--medium.clearfix
      .meta.meta--inline.meta-light.left
        %strong APR 25
      %strong.left.padding-left--small Friday Night Lights
  /Everything below in Wishlist module can be deleted for example purposes only which includes lines 16-35
  %a{href: "#"}
    .listing.listing--medium.clearfix
      .meta.meta--inline.meta-light.left
        %strong APR 25
      %strong.left.padding-left--small Friday Night Lights
  %a{href: "#"}
    .listing.listing--medium.clearfix
      .meta.meta--inline.meta-light.left
        %strong APR 25
      %strong.left.padding-left--small Friday Night Lights
  %a{href: "#"}
    .listing.listing--medium.clearfix
      .meta.meta--inline.meta-light.left
        %strong APR 25
      %strong.left.padding-left--small Friday Night Lights
  %a{href: "#"}
    .listing.listing--medium.clearfix
      .meta.meta--inline.meta-light.left
        %strong APR 25
      %strong.left.padding-left--small Friday Night Lights


/Contact Us Module
.panel
  %h5 Have questions about an Event? (Talk about how users can contact Level)
  %br/
  %a{href: "#"}
    %strong email@email.com
  %br/
  %br/
  %tel{href: "#"}
    %strong 222-222-2222
