= render "static_pages/nav"
.row.container
  .large-4.columns.show-for-large-up 
    = render "static_pages/sidebar_profileinfo"
  .large-8.columns
    .panel.panel--no-padding
      .module--header.clearfix.border-bottom--orange
        %h3 Activity Feed
      = render "static_pages/post"
  
        

