/ Navigation
%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{href: "#"}
          Level
/ end topbar
 
.row
  .small-6.small-centered.columns
    %br/
    %br/
    %label
      Username
      %input{placeholder: "small-6.columns", type: "text"}/
    %label
      Password
      %input{placeholder: "small-6.columns", type: "text"}/ 
    %a.button.right.radius.small{href: "#"} Login   
/ end header 

    